ul{
    list-style-type: none;
}
.mainMenu li
{
    float: left;
    padding: 10px;
}
.badInput
{
    background-color: red;
}
.goodInput
{
    background-color: greenyellow;
}
.formError
{
    color: red;
}
#regForm, #loginForm{
border-style: solid;
border-width: 1px;
padding: 10px;
border-radius: 10px;
min-width: 250px;
max-width: 380px;
display: block;
margin: auto;
}
#loginForm
{
max-width: 400px;    
}
#regForm span,
#loginForm span
{
position: absolute;
margin-top: -20px;
margin-left: -70px;    
}